
       html, body {
              margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 100%;
            position: relative;
        }
        .social{
            height: 20px;
            width: 20px;
        }
        .footer{
            display: flex;                 
    justify-content: space-between;  
    background-color: rgb(142, 142, 200);
    padding: 20px 40px;             
    position: absolute;               
    bottom: 0;                       
    left: 0;
    right: 0;
    width: 100%;  
        }
        .list{
            list-style: none;
        }
