
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .li{
            color: black;
            text-decoration: none;
        } 
        .nav{
            display: flex;
            gap: 100px;
            background-color: rgb(142, 142, 200);
            margin: 0;
            padding: 0;
            width: 100%;
          
        }
        .list{
            display: flex;
            gap: 100px;
        }
        .search{
            margin-top: 20px;
        }
        .cart{
            margin-top: 20px;
        }
        .logo{
            margin-top: 20px;
        }
        .carticon{
           width: 20px;
           height: 20px;
        }
        .searchicon{
            width: 20px;
           height: 20px;
    
        }
    .wish
    {
         width: 20px;
           height: 20px;
           margin-top: 20px;
    }
